.flip-container
{
    width:1122px;
    margin:auto;
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
}

.flip-cards div
{
    width:336px;
    height:347px;
    position:absolute;
    border-radius:15px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-cards
{
    width:336px;
    height:347px;
    position:relative;
    float:left;
    margin-left:5px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-cards:hover
{
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.front-card
{
    z-index: 2;
    background-image:   url(http://i41.tinypic.com/2uqf0qt.jpg);
}


.reverse-card
{
    -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
    background-color:#dd1111;
    text-align:center;
}
